.main
{
    background-color:#000000;
    /* background-color:#000000; */
     width:100%; 
    height:100%;
    
    color:white;
}

.main_container{

     /* background-color:yellow; */
    /* align-items:center; */
    display:flex;
    flex-direction:column;
    /* flex-grow:1; */
    align-items:center;

}
.main_header{
   display: flex;
   flex-direction:column;
   align-items:center;

}

.main_logo{
    height:100px; 
    
    /* width:100%; */
    background-position: center;
    background-size: cover;
}

label{
    colour:white;
    font-size:25px;
    font-weight:bold;
    font-family:Verdana , sans-serif, sans-serif,Arial;

}
.main_post
{
    background-color:black;
    margin-top:30px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.main_post_header{
    height:30px;
    background-color:white;
    width:100%;
    color:black;
    display:flex;
    align-items:center;
    /* margin:10px; */
}
.post_username{
    margin-left:10px;
    font-family:Verdana;
    font-size:13px;
    font-weight:bold;

}

.post_pic_conatiner{
    margin-left:20px;
    margin-right:20px; 
    width:100%;
    background-color:white;
    height: 400px;
   
    border-radius:10px;
}

.main_post_icons
{
    display:flex;
    /* align-items:center; */
    width:100%;
    /* background-color:green; */
    height:30px;
    margin-top:8px;
}

.main_post_icon
{
   
    /* background-color:red; */
    /* width:50%; */
    
    margin-left:10px;
    /* color:blue; */
}


.main_post_icon_button{
    border:0px;
    color:white;
    background-color:#000000;

}

.main_post_icon_button:focus{
    color:#11adff;
    outline:none;
}
