.profile_avatar{
    /* height:10px; */
    width:10px;
    border:2px solid black;
}

.parent{
   
    display:flex;
    width:100%;
    align-items:center;
    margin-left:10px;
    /* border: 2px solid green; */
}

.post_pic{
    background-position:cover;
}